* {
    caret-color: #000;
}

window#login {
    font-family: "Consolas";
    background-color: #e1f3fc;
    font-weight: 400;
}

label {
    color: #1d3947;
    font-size: 14px;
}

label#logo {
    font-size: 36px;
}

label#text {
    color: #1d3947;
}

entry#login,
entry#password,
entry#pin {
    color: #000;
    border: none;
    border-bottom: 2px solid #457d99;
    background-color: #e1f3fc;
    box-shadow: none;
}

entry#pin {
    color: #1d3947;
    border-top: 2px solid #457d99;
    border-radius: 0px;
}

entry#password {
    color: #1d3947;
}

button#btn {
    color: #1d3947;
    background: #457d99;
    border: 1px solid #457d99;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

button#signIn,
button#create {
    color: #1d3947;
    background: none;
    font-size: 12px;
    font-style: italic;
    border: 1px solid #e1f3fc;
    outline: none;
    box-shadow: none;
}

label#danger_lable {
    color: rgb(180, 6, 6);
}