* {
    caret-color: #000;
}

grid#connection {
    background: green;
}

grid#left-panel,
grid#top-panel {
    background-color: #ebeff5;
}

.contacts-panel {
    background-color: #c8d1e0;
}

.message-panel {
    background-color: #e6eefc;
}

.bg-pupure {
    background-color: #457d99;
}

.message-container {
    background-color: #dde3ed;
}

.message-input text {
    background-color: #ebf3f7;
    border: none;
    border-radius: 0;
    color: #000;
}

.message-input {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 15px 0 0;
}

.p-msg {
    padding-left: 15px;
}

.msg-input {
    background: #ebf3f7;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.search-entry {
    background-color: #c8d1e0;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.name-chat {
    font-size: 24px;
    font-weight: 700;
    color: #457d99;
}

.status {
    font-size: 14px;
    font-weight: 400;
    color: #1d3947;
}

.contact-login {
    margin-top: -5px;
    font-size: 16px;
    font-weight: 700;
    color: #457d99;
}

.contact-time,
.contact-lastmessage {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.is-online {
    border-radius: 50%;
    background-color: #72a5f2;
    margin-top: 10px;
    margin-left: 10px;
}

.message-body {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.message-time {
    margin-top: 10px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
}

.message-text {
    margin: 10px;
    color:#1d3947;
    font-size: 15px;
}

.contact-body {
    margin: 10px;
}

.contact-time {
    margin-top: 10px;
    margin-right: 10px;
}

.contact-img {
    margin-left: 10px;
}

.contact-lastmsg {
    margin-left: 10px;
}

.bg-gray {
    background-color: #ebf3f7;
}

.border-none,
.border_none {
    border: none;
}

.contact-icon {
    border-radius: 50%;
}

.message-from {

    margin: 10px 10px 0;
}

.my-status {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #1d3947;
}

.my_login {
    margin: 10px 0 0 10px;
}

.my-block {
    border-bottom: 5px solid #333;
}

.settings-item_text {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #1d3947;
}

.settings-item_img {
    margin-left: 35px;
}

.socket_platform,
.socket_version {
    font-size: 14px;
    font-weight: 700;
    color: #ebeff5;
    margin-left: 10px;
}

.socket_version {
    margin-bottom: 20px;
    font-size: 12px;
}

.contact_button {
    color: #1d3947;
    background: #d5d5d5;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    margin: 0 10px;
}

.name_center {
    margin-top: 20px;
}

.login_info {
    font-size: 25px;
}

.is_admin {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #1d3947;
    margin-bottom: 10px;
}

.img_info_user {
    margin: 15px 0;
}

.italic_info {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #1d3947;
}

.fullname_info {
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #88c5ce;
}

.quote_info {
    color: #000;
    margin-bottom: 35px;
}

.button_info {
    margin: 10px 15px 0;
    color: #1d3947;
    background: #457d99;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: none;
    border: none;
}

.button_block {
    color: #b21408;
    margin-bottom: 10px;
}

.bg-circle {
    background: #457d99;
    border-radius: 50%;
}

.switch_theme{
    background-color: #fff;
}

.setting_form {
    margin: 50px;
    background: #c8d1e0;
    border-radius: 25px;
}

.label {
    margin: 15px 15px 0 0;
    color: #1d3947;
    font-size: 14px;
}

.input_edit {
    margin-top: 15px;
    color: #000;
    border: none;
    border-bottom: 2px solid #457d99;
    background-color: #ebeff5;
    box-shadow: none;
}

.btn_info {
    margin-top: 20px;
    background: #d5d5d5;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #b21408;
    box-shadow: none;
    border: none;
}

.mt20 {
    margin-top: 20px;
}

.color_normal {
    text-shadow: none;
    box-shadow: none;
    font-size: 17px;
    color: #1d3947;
}

.color_red {
    text-shadow: none;
    box-shadow: none;
    font-size: 17px;
    color: #b21408;
}

.best {
    font-weight: 700;
    color: #457d99;
}

.login_edit {
    font-size: 25.5px;
    font-weight: 700;
    color: #457d99;
}

.ml40 {
    margin-left: 40px;
}

.mt0 {
    margin-top: 0;
}

.logout {
    color: #b21408;
}